/* BackButton.css */

.back-button {
    background-color: #f0ad4e;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    position: fixed;
    top: 20px;
    left: 20px;
  }
  
  .back-button:hover {
    background-color: #ec971f;
  }